{% include 'layouts/header.html' %}
    <div class="uk-container">
        <div class="uk-card uk-card-default uk-card-body uk-margin-medium-top">
            <h3 class="uk-card-title">{{ book.name }}</h3>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Автор: {{ book.author }}</p>
            <p>Год создания: {{ book.year }}</p>
            <p>Количество страниц: {{ book.pages }}</p>
            <div class="uk-flex uk-flex-middle">
                <a href="/books" class="uk-button uk-button-default">Список книг</a>
                <a href="/book/create" class="uk-button uk-button-primary">Создать новую книгу</a>
            </div>
        </div>
    </div>
{% include 'layouts/footer.html' %}